<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container d-flex justify-content-between">
        <a class="navbar-brand" href="#">QuoteMachine</a>
        <ul style="list-style-type: none; display: flex; flex-direction: row;">
            <li>Home</li>
            <form action="/allContacts">
                <li><button style="border: none; background-color: none;type=" submit"
                        action="/allContacts">Contacts</button></li>
            </form>
        </ul>
    </div>
</nav>